body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e4cfb1, #aa7b59);
  color: white;
}

.center {
  text-align: center;
  padding: 40px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.9;
}

.cute-img {
  width: 625px;
  border-radius: 10px;
  height: 450px;
}

.btn-group {
  margin-top: 20px;
}

.btn {
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: white;
  color: #ff4d6d;
}

.gift-box img {
  width: 300px;
  margin: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 10px;
  height: 300px;
}

.gift-box img:hover {
  transform: scale(1.1);
}

.coupon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
  
}

.coupon {
  background: white;
  color: #ff4d6d;
  padding: 25px;
  border-radius: 15px;
  font-size: 1.2rem;
  text-align: center;
}

.memory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.photos img {
  width: 200px;
  border-radius: 15px;
}

.letter {
  max-width: 400px;
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 20px;
}

img{
    height: 100%;
    width: 100%;
}

#star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.star {
  position: absolute;
  color: white;
  font-size: 20px;
  opacity: 0.9;
  animation: fall linear forwards;
  text-shadow: 0 0 10px rgba(255,255,255,0.8);
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.video-section {
  padding: 60px 40px;
  background: #fdf2d9; /* match your page */
  text-align: center;
  border-radius: 20px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #7a4a1e;
}

.video-container {
  display: flex;
  gap: 35px;
  justify-content: center;
  flex-wrap: wrap;
}

.video-container video {
  width: 320px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  transition: transform 0.4s ease;
}

.video-container video:hover {
  transform: scale(1.05);
}


.parnnnn{

  font-family: 'Pacifico', 'Brush Script MT', cursive;
  font-size: 42px;
  color: #8b4513;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.15);

}

.pgift{
    font-family: 'Pacifico', 'Brush Script MT', cursive;
    font-size: 30px;
}

.coupon-grid img{
  height: 250px;
  width:210px;
  border-radius: 10px;
}

.memory-container .photos{
  height: 200px;
  width: 200px;
  z-index: inherit;
  gap: 20px;
  display: flex;
  border-radius: 20px;
}


